.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  text-align: center;
}

.plant__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}
.plant {
  max-width: 100%;
}
